<div class="row">
    <div class="col-md-4">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-star font-yellow"></i>
                    <span class="caption-subject bold uppercase font-green">Seed</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" busy-if="vm.runningSeed" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="$ctrl.runSeed()"><i class="fa fa-play"></i> <span>Run Seed</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>