<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" busy-if="$ctrl.cargando">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">Titulo</span>
                </div>
                <div class="actions">
                    <a class="btn btn-sm btn-circle blue" ng-click="$ctrl.nuevoPais()">
                        <i class="fa fa-plus"></i>Nuevo
                    </a>
                </div>
            </div>
            <div class="portlet-body">

            </div>
        </div>
    </div>
</div>